<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.ShechemEsGoodsDOMapper">
    <!-- 自动生成,请修改 SHECHEM_ES_GOODS.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.ShechemEsGoodsDO">
        <id column="ID" property="id" jdbcType="INTEGER" javaType="Integer"/>
        <result column="MID" property="mid" jdbcType="VARCHAR" javaType="String"/>
        <result column="UID" property="uid" jdbcType="INTEGER" javaType="Integer"/>
        <result column="IS_DM" property="isDm" jdbcType="BIT" javaType="Boolean"/>
        <result column="TURN" property="turn" jdbcType="INTEGER" javaType="Integer"/>
        <result column="BRIEF" property="brief" jdbcType="VARCHAR" javaType="String"/>
        <result column="IS_HOT" property="isHot" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_NEW" property="isNew" jdbcType="BIT" javaType="Boolean"/>
        <result column="THUMB" property="thumb" jdbcType="VARCHAR" javaType="String"/>
        <result column="TITLE" property="title" jdbcType="VARCHAR" javaType="String"/>
        <result column="IS_BEST" property="isBest" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_GIFT" property="isGift" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_REAL" property="isReal" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_YEAR" property="isYear" jdbcType="INTEGER" javaType="Integer"/>
        <result column="STATUS" property="status" jdbcType="BIT" javaType="Boolean"/>
        <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="VOLUME" property="volume" jdbcType="INTEGER" javaType="Integer"/>
        <result column="WEIGHT" property="weight" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="BRAND_ID" property="brandId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="CONTENT" property="content" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="DISPLAY" property="display" jdbcType="BIT" javaType="Boolean"/>
        <result column="GOODS_SN" property="goodsSn" jdbcType="VARCHAR" javaType="String"/>
        <result column="IS_SINCE" property="isSince" jdbcType="BIT" javaType="Boolean"/>
        <result column="STORE_ID" property="storeId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="YEAR_NUM" property="yearNum" jdbcType="INTEGER" javaType="Integer"/>
        <result column="GROUPSTR" property="groupstr" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="IS_FAMILY" property="isFamily" jdbcType="BIT" javaType="Boolean"/>
        <result column="KEYWORDS" property="keywords" jdbcType="VARCHAR" javaType="String"/>
        <result column="LIMIT_BUY" property="limitBuy" jdbcType="INTEGER" javaType="Integer"/>
        <result column="SHOW_IN_WX" property="showInWx" jdbcType="BIT" javaType="Boolean"/>
        <result column="AGREEMENT" property="agreement" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="INPUTTIME" property="inputtime" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INVENTORY" property="inventory" jdbcType="INTEGER" javaType="Integer"/>
        <result column="IS_INGROUP" property="isIngroup" jdbcType="BIT" javaType="Boolean"/>
        <result column="PARAMETER" property="parameter" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="SHOW_IN_APP" property="showInApp" jdbcType="BIT" javaType="Boolean"/>
        <result column="CATEGORY_ID" property="categoryId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="ERP_TABLEID" property="erpTableid" jdbcType="INTEGER" javaType="Integer"/>
        <result column="ESHOP_PRICE" property="eshopPrice" jdbcType="INTEGER" javaType="Integer"/>
        <result column="IS_INTEGRAL" property="isIntegral" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_SHIPPING" property="isShipping" jdbcType="BIT" javaType="Boolean"/>
        <result column="SET_PROMOTE" property="setPromote" jdbcType="VARCHAR" javaType="String"/>
        <result column="SHIPPING_ID" property="shippingId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="UPDATETIME" property="updatetime" jdbcType="INTEGER" javaType="Integer"/>
        <result column="VOLUME_PLUS" property="volumePlus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="VOLUME_SHOW" property="volumeShow" jdbcType="INTEGER" javaType="Integer"/>
        <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" javaType="String"/>
        <result column="ERP_DATA_JSON" property="erpDataJson" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="IS_ALONE_SALE" property="isAloneSale" jdbcType="BIT" javaType="Boolean"/>
        <result column="MARKET_PRICE" property="marketPrice" jdbcType="INTEGER" javaType="Integer"/>
        <result column="SHOW_INVOICE" property="showInvoice" jdbcType="BIT" javaType="Boolean"/>
        <result column="SUPPLIERS_ID" property="suppliersId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="VOLUME_TOTAL" property="volumeTotal" jdbcType="INTEGER" javaType="Integer"/>
        <result column="ERP_TABLENAME" property="erpTablename" jdbcType="VARCHAR" javaType="String"/>
        <result column="INVENTORY_MAX" property="inventoryMax" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INVENTORY_MIN" property="inventoryMin" jdbcType="INTEGER" javaType="Integer"/>
        <result column="IS_PREPAYCARD" property="isPrepaycard" jdbcType="TINYINT" javaType="Integer"/>
        <result column="PACKAGE_PRICE" property="packagePrice" jdbcType="INTEGER" javaType="Integer"/>
        <result column="SEND_OUTLET_ID" property="sendOutletId" jdbcType="INTEGER" javaType="Integer"/>
        <result column="SET_ATTRIBUTE" property="setAttribute" jdbcType="LONGVARCHAR" javaType="String"/>
        <result column="SHELVES_BTIME" property="shelvesBtime" jdbcType="INTEGER" javaType="Integer"/>
        <result column="SHELVES_ETIME" property="shelvesEtime" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INTEGRAL_GOODS" property="integralGoods" jdbcType="VARCHAR" javaType="String"/>
        <result column="INTEGRAL_PRICE" property="integralPrice" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INTEGRAL_AMOUNT" property="integralAmount" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INVENTORY_TOTAL" property="inventoryTotal" jdbcType="INTEGER" javaType="Integer"/>
        <result column="IS_DISTRIBUTION" property="isDistribution" jdbcType="BIT" javaType="Boolean"/>
        <result column="IS_PREFERENTIAL" property="isPreferential" jdbcType="BIT" javaType="Boolean"/>
        <result column="SUPPLIERS_PRICE" property="suppliersPrice" jdbcType="INTEGER" javaType="Integer"/>
        <result column="INVENTORY_WARNING" property="inventoryWarning" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>

    <resultMap id="OldGoodShowVO"  type="com.xl.dy.dal.resultmap.OldGoodShowVO">
        <result column="id" property="id"  javaType="Integer"/>
        <result column="store_id" property="storeId"  javaType="Integer"/>
        <result column="title" property="title"  javaType="String"/>
        <result column="thumb" property="thumb"  javaType="String"/>
        <result column="content" property="content"  javaType="String"/>
        <result column="is_real" property="isReal"  javaType="Boolean"/>
        <result column="eshop_price" property="eshopPrice"  javaType="Integer"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,MID,UID,IS_DM,TURN,BRIEF,IS_HOT,IS_NEW,THUMB,TITLE,IS_BEST,IS_GIFT,IS_REAL,IS_YEAR,STATUS,TYPE_ID,VOLUME,WEIGHT,BRAND_ID,CONTENT,DISPLAY,GOODS_SN,IS_SINCE,STORE_ID,YEAR_NUM,GROUPSTR,IS_FAMILY,KEYWORDS,LIMIT_BUY,SHOW_IN_WX,AGREEMENT,INPUTTIME,INVENTORY,IS_INGROUP,PARAMETER,SHOW_IN_APP,CATEGORY_ID,ERP_TABLEID,ESHOP_PRICE,IS_INTEGRAL,IS_SHIPPING,SET_PROMOTE,SHIPPING_ID,UPDATETIME,VOLUME_PLUS,VOLUME_SHOW,DESCRIPTION,ERP_DATA_JSON,IS_ALONE_SALE,MARKET_PRICE,SHOW_INVOICE,SUPPLIERS_ID,VOLUME_TOTAL,ERP_TABLENAME,INVENTORY_MAX,INVENTORY_MIN,IS_PREPAYCARD,PACKAGE_PRICE,SEND_OUTLET_ID,SET_ATTRIBUTE,SHELVES_BTIME,SHELVES_ETIME,INTEGRAL_GOODS,INTEGRAL_PRICE,INTEGRAL_AMOUNT,INVENTORY_TOTAL,IS_DISTRIBUTION,IS_PREFERENTIAL,SUPPLIERS_PRICE,INVENTORY_WARNING
    </sql>


    <!--插入表:SHECHEM_ES_GOODS-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO SHECHEM_ES_GOODS(
            ID
            ,_UID
            ,MID
            ,UID
            ,IS_DM
            ,TURN
            ,BRIEF
            ,IS_HOT
            ,IS_NEW
            ,THUMB
            ,TITLE
            ,IS_BEST
            ,IS_GIFT
            ,IS_REAL
            ,IS_YEAR
            ,STATUS
            ,TYPE_ID
            ,VOLUME
            ,WEIGHT
            ,BRAND_ID
            ,CONTENT
            ,DISPLAY
            ,GOODS_SN
            ,IS_SINCE
            ,STORE_ID
            ,YEAR_NUM
            ,GROUPSTR
            ,IS_FAMILY
            ,KEYWORDS
            ,LIMIT_BUY
            ,SHOW_IN_WX
            ,AGREEMENT
            ,INPUTTIME
            ,INVENTORY
            ,IS_INGROUP
            ,PARAMETER
            ,SHOW_IN_APP
            ,CATEGORY_ID
            ,ERP_TABLEID
            ,ESHOP_PRICE
            ,IS_INTEGRAL
            ,IS_SHIPPING
            ,SET_PROMOTE
            ,SHIPPING_ID
            ,UPDATETIME
            ,VOLUME_PLUS
            ,VOLUME_SHOW
            ,DESCRIPTION
            ,ERP_DATA_JSON
            ,IS_ALONE_SALE
            ,MARKET_PRICE
            ,SHOW_INVOICE
            ,SUPPLIERS_ID
            ,VOLUME_TOTAL
            ,ERP_TABLENAME
            ,INVENTORY_MAX
            ,INVENTORY_MIN
            ,IS_PREPAYCARD
            ,PACKAGE_PRICE
            ,SEND_OUTLET_ID
            ,SET_ATTRIBUTE
            ,SHELVES_BTIME
            ,SHELVES_ETIME
            ,INTEGRAL_GOODS
            ,INTEGRAL_PRICE
            ,INTEGRAL_AMOUNT
            ,INVENTORY_TOTAL
            ,IS_DISTRIBUTION
            ,IS_PREFERENTIAL
            ,SUPPLIERS_PRICE
            ,INVENTORY_WARNING
        )VALUES(
             #{id,jdbcType=INTEGER}
            , #{Uid,jdbcType=INTEGER}
            , #{mid,jdbcType=VARCHAR}
            , #{uid,jdbcType=INTEGER}
            , #{isDm,jdbcType=BIT}
            , #{turn,jdbcType=INTEGER}
            , #{brief,jdbcType=VARCHAR}
            , #{isHot,jdbcType=BIT}
            , #{isNew,jdbcType=BIT}
            , #{thumb,jdbcType=VARCHAR}
            , #{title,jdbcType=VARCHAR}
            , #{isBest,jdbcType=BIT}
            , #{isGift,jdbcType=BIT}
            , #{isReal,jdbcType=BIT}
            , #{isYear,jdbcType=INTEGER}
            , #{status,jdbcType=BIT}
            , #{typeId,jdbcType=INTEGER}
            , #{volume,jdbcType=INTEGER}
            , #{weight,jdbcType=DECIMAL}
            , #{brandId,jdbcType=INTEGER}
            , #{content,jdbcType=LONGVARCHAR}
            , #{display,jdbcType=BIT}
            , #{goodsSn,jdbcType=VARCHAR}
            , #{isSince,jdbcType=BIT}
            , #{storeId,jdbcType=INTEGER}
            , #{yearNum,jdbcType=INTEGER}
            , #{groupstr,jdbcType=LONGVARCHAR}
            , #{isFamily,jdbcType=BIT}
            , #{keywords,jdbcType=VARCHAR}
            , #{limitBuy,jdbcType=INTEGER}
            , #{showInWx,jdbcType=BIT}
            , #{agreement,jdbcType=LONGVARCHAR}
            , #{inputtime,jdbcType=INTEGER}
            , #{inventory,jdbcType=INTEGER}
            , #{isIngroup,jdbcType=BIT}
            , #{parameter,jdbcType=LONGVARCHAR}
            , #{showInApp,jdbcType=BIT}
            , #{categoryId,jdbcType=INTEGER}
            , #{erpTableid,jdbcType=INTEGER}
            , #{eshopPrice,jdbcType=INTEGER}
            , #{isIntegral,jdbcType=BIT}
            , #{isShipping,jdbcType=BIT}
            , #{setPromote,jdbcType=VARCHAR}
            , #{shippingId,jdbcType=INTEGER}
            , #{updatetime,jdbcType=INTEGER}
            , #{volumePlus,jdbcType=INTEGER}
            , #{volumeShow,jdbcType=INTEGER}
            , #{description,jdbcType=VARCHAR}
            , #{erpDataJson,jdbcType=LONGVARCHAR}
            , #{isAloneSale,jdbcType=BIT}
            , #{marketPrice,jdbcType=INTEGER}
            , #{showInvoice,jdbcType=BIT}
            , #{suppliersId,jdbcType=INTEGER}
            , #{volumeTotal,jdbcType=INTEGER}
            , #{erpTablename,jdbcType=VARCHAR}
            , #{inventoryMax,jdbcType=INTEGER}
            , #{inventoryMin,jdbcType=INTEGER}
            , #{isPrepaycard,jdbcType=TINYINT}
            , #{packagePrice,jdbcType=INTEGER}
            , #{sendOutletId,jdbcType=INTEGER}
            , #{setAttribute,jdbcType=LONGVARCHAR}
            , #{shelvesBtime,jdbcType=INTEGER}
            , #{shelvesEtime,jdbcType=INTEGER}
            , #{integralGoods,jdbcType=VARCHAR}
            , #{integralPrice,jdbcType=INTEGER}
            , #{integralAmount,jdbcType=INTEGER}
            , #{inventoryTotal,jdbcType=INTEGER}
            , #{isDistribution,jdbcType=BIT}
            , #{isPreferential,jdbcType=BIT}
            , #{suppliersPrice,jdbcType=INTEGER}
            , #{inventoryWarning,jdbcType=INTEGER}
        )
    </insert>

    <!--更新表:SHECHEM_ES_GOODS-->
    <update id="update" >
        UPDATE /*MS-SHECHEM-ES-GOODS-UPDATE*/ SHECHEM_ES_GOODS
        SET
            _UID            = #{Uid,jdbcType=INTEGER}
            ,MID             = #{mid,jdbcType=VARCHAR}
            ,UID             = #{uid,jdbcType=INTEGER}
            ,IS_DM           = #{isDm,jdbcType=BIT}
            ,TURN            = #{turn,jdbcType=INTEGER}
            ,BRIEF           = #{brief,jdbcType=VARCHAR}
            ,IS_HOT          = #{isHot,jdbcType=BIT}
            ,IS_NEW          = #{isNew,jdbcType=BIT}
            ,THUMB           = #{thumb,jdbcType=VARCHAR}
            ,TITLE           = #{title,jdbcType=VARCHAR}
            ,IS_BEST         = #{isBest,jdbcType=BIT}
            ,IS_GIFT         = #{isGift,jdbcType=BIT}
            ,IS_REAL         = #{isReal,jdbcType=BIT}
            ,IS_YEAR         = #{isYear,jdbcType=INTEGER}
            ,STATUS          = #{status,jdbcType=BIT}
            ,TYPE_ID         = #{typeId,jdbcType=INTEGER}
            ,VOLUME          = #{volume,jdbcType=INTEGER}
            ,WEIGHT          = #{weight,jdbcType=DECIMAL}
            ,BRAND_ID        = #{brandId,jdbcType=INTEGER}
            ,CONTENT         = #{content,jdbcType=LONGVARCHAR}
            ,DISPLAY         = #{display,jdbcType=BIT}
            ,GOODS_SN        = #{goodsSn,jdbcType=VARCHAR}
            ,IS_SINCE        = #{isSince,jdbcType=BIT}
            ,STORE_ID        = #{storeId,jdbcType=INTEGER}
            ,YEAR_NUM        = #{yearNum,jdbcType=INTEGER}
            ,GROUPSTR        = #{groupstr,jdbcType=LONGVARCHAR}
            ,IS_FAMILY       = #{isFamily,jdbcType=BIT}
            ,KEYWORDS        = #{keywords,jdbcType=VARCHAR}
            ,LIMIT_BUY       = #{limitBuy,jdbcType=INTEGER}
            ,SHOW_IN_WX      = #{showInWx,jdbcType=BIT}
            ,AGREEMENT       = #{agreement,jdbcType=LONGVARCHAR}
            ,INPUTTIME       = #{inputtime,jdbcType=INTEGER}
            ,INVENTORY       = #{inventory,jdbcType=INTEGER}
            ,IS_INGROUP      = #{isIngroup,jdbcType=BIT}
            ,PARAMETER       = #{parameter,jdbcType=LONGVARCHAR}
            ,SHOW_IN_APP     = #{showInApp,jdbcType=BIT}
            ,CATEGORY_ID     = #{categoryId,jdbcType=INTEGER}
            ,ERP_TABLEID     = #{erpTableid,jdbcType=INTEGER}
            ,ESHOP_PRICE     = #{eshopPrice,jdbcType=INTEGER}
            ,IS_INTEGRAL     = #{isIntegral,jdbcType=BIT}
            ,IS_SHIPPING     = #{isShipping,jdbcType=BIT}
            ,SET_PROMOTE     = #{setPromote,jdbcType=VARCHAR}
            ,SHIPPING_ID     = #{shippingId,jdbcType=INTEGER}
            ,UPDATETIME      = #{updatetime,jdbcType=INTEGER}
            ,VOLUME_PLUS     = #{volumePlus,jdbcType=INTEGER}
            ,VOLUME_SHOW     = #{volumeShow,jdbcType=INTEGER}
            ,DESCRIPTION     = #{description,jdbcType=VARCHAR}
            ,ERP_DATA_JSON   = #{erpDataJson,jdbcType=LONGVARCHAR}
            ,IS_ALONE_SALE   = #{isAloneSale,jdbcType=BIT}
            ,MARKET_PRICE    = #{marketPrice,jdbcType=INTEGER}
            ,SHOW_INVOICE    = #{showInvoice,jdbcType=BIT}
            ,SUPPLIERS_ID    = #{suppliersId,jdbcType=INTEGER}
            ,VOLUME_TOTAL    = #{volumeTotal,jdbcType=INTEGER}
            ,ERP_TABLENAME   = #{erpTablename,jdbcType=VARCHAR}
            ,INVENTORY_MAX   = #{inventoryMax,jdbcType=INTEGER}
            ,INVENTORY_MIN   = #{inventoryMin,jdbcType=INTEGER}
            ,IS_PREPAYCARD   = #{isPrepaycard,jdbcType=TINYINT}
            ,PACKAGE_PRICE   = #{packagePrice,jdbcType=INTEGER}
            ,SEND_OUTLET_ID  = #{sendOutletId,jdbcType=INTEGER}
            ,SET_ATTRIBUTE   = #{setAttribute,jdbcType=LONGVARCHAR}
            ,SHELVES_BTIME   = #{shelvesBtime,jdbcType=INTEGER}
            ,SHELVES_ETIME   = #{shelvesEtime,jdbcType=INTEGER}
            ,INTEGRAL_GOODS  = #{integralGoods,jdbcType=VARCHAR}
            ,INTEGRAL_PRICE  = #{integralPrice,jdbcType=INTEGER}
            ,INTEGRAL_AMOUNT = #{integralAmount,jdbcType=INTEGER}
            ,INVENTORY_TOTAL = #{inventoryTotal,jdbcType=INTEGER}
            ,IS_DISTRIBUTION = #{isDistribution,jdbcType=BIT}
            ,IS_PREFERENTIAL = #{isPreferential,jdbcType=BIT}
            ,SUPPLIERS_PRICE = #{suppliersPrice,jdbcType=INTEGER}
            ,INVENTORY_WARNING = #{inventoryWarning,jdbcType=INTEGER}
        WHERE
            ID              = #{id,jdbcType=INTEGER}
    </update>

    <!--根据主键删除数据:SHECHEM_ES_GOODS-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-SHECHEM-ES-GOODS-DELETEBYPRIMARY*/ FROM
            SHECHEM_ES_GOODS
        WHERE
            ID = #{id,jdbcType=INTEGER}
    </delete>

    <!--根据主键获取数据:SHECHEM_ES_GOODS-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-SHECHEM-ES-GOODS-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM SHECHEM_ES_GOODS
        WHERE
            ID = #{id,jdbcType=INTEGER}
    </select>

    <!--商品分页 pageCount-->
    <select id="getOldGoodsPageCount"  resultType="int">
        SELECT
          COUNT(*) AS total 
        FROM
 SHECHEM_ES_GOODS
		WHERE mid = 'DJEHBSUAAY'
		
    </select>
    <!--商品分页 pageResult-->
    <select id="getOldGoodsPageResult"  resultType="java.util.Map">
        SELECT /*MS-SHECHEM-ES-GOODS-GETOLDGOODSPAGE*/  id
              ,store_id
        	  ,title
        	  ,thumb
        	  ,content
        	  ,is_real 
        FROM SHECHEM_ES_GOODS
		WHERE mid = 'DJEHBSUAAY'
		ORDER BY id DESC
        limit #{startRow},#{limit}
    </select>

    <!--商品分页-->
    <select id="getGoodsListByNum" resultMap="OldGoodShowVO">
        SELECT /*MS-SHECHEM-ES-GOODS-GETGOODSLISTBYNUM*/  id
              ,store_id
        	  ,title
        	  ,thumb
        	  ,content
        	  ,is_real
        	  ,eshop_price 
        FROM SHECHEM_ES_GOODS
		WHERE mid = 'DJEHBSUAAY'
		ORDER BY id DESC LIMIT #{pageSize,jdbcType=INTEGER}
    </select>
</mapper>
