<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaBootPagesDOMapper">
    <!-- 自动生成,请修改 TA_BOOT_PAGES.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaBootPagesDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="INX" property="inx" jdbcType="INTEGER" javaType="Integer"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" javaType="String"/>
        <result column="PHOTO_URL" property="photoUrl" jdbcType="VARCHAR" javaType="String"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="IS_DISPLAY" property="isDisplay" jdbcType="INTEGER" javaType="Integer"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="PUTAWAY_TIME" property="putawayTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="SOLDOUT_TIME" property="soldoutTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="BOOT_PAGE_NAME" property="bootPageName" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,INX,REMARK,LINK_URL,PHOTO_URL,ALTER_EMPL,ALTER_TIME,IS_DISPLAY,TIMESTAMP,CREATE_EMPL,CREATE_TIME,PUTAWAY_TIME,SOLDOUT_TIME,VALID_STATUS,BOOT_PAGE_NAME
    </sql>


    <!--插入表:TA_BOOT_PAGES-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TA_BOOT_PAGES(
            ID
            ,INX
            ,REMARK
            ,LINK_URL
            ,PHOTO_URL
            ,ALTER_EMPL
            ,ALTER_TIME
            ,IS_DISPLAY
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
            ,PUTAWAY_TIME
            ,SOLDOUT_TIME
            ,VALID_STATUS
            ,BOOT_PAGE_NAME
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{inx,jdbcType=INTEGER}
            , #{remark,jdbcType=VARCHAR}
            , #{linkUrl,jdbcType=VARCHAR}
            , #{photoUrl,jdbcType=VARCHAR}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{isDisplay,jdbcType=INTEGER}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{putawayTime,jdbcType=TIMESTAMP}
            , #{soldoutTime,jdbcType=TIMESTAMP}
            , #{validStatus,jdbcType=INTEGER}
            , #{bootPageName,jdbcType=VARCHAR}
        )
    </insert>

    <!--更新表:TA_BOOT_PAGES-->
    <update id="update" >
        UPDATE /*MS-TA-BOOT-PAGES-UPDATE*/ TA_BOOT_PAGES
        SET
            INX             = #{inx,jdbcType=INTEGER}
            ,REMARK          = #{remark,jdbcType=VARCHAR}
            ,LINK_URL        = #{linkUrl,jdbcType=VARCHAR}
            ,PHOTO_URL       = #{photoUrl,jdbcType=VARCHAR}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,IS_DISPLAY      = #{isDisplay,jdbcType=INTEGER}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,PUTAWAY_TIME    = #{putawayTime,jdbcType=TIMESTAMP}
            ,SOLDOUT_TIME    = #{soldoutTime,jdbcType=TIMESTAMP}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
            ,BOOT_PAGE_NAME  = #{bootPageName,jdbcType=VARCHAR}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_BOOT_PAGES-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-BOOT-PAGES-DELETEBYPRIMARY*/ FROM
            TA_BOOT_PAGES
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_BOOT_PAGES-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-BOOT-PAGES-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_BOOT_PAGES
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--获取启动页分页列表 pageCount-->
    <select id="findBootListCount"  resultType="int">
        SELECT
          COUNT(*) AS total 
        FROM
 TA_BOOT_PAGES
        
    </select>
    <!--获取启动页分页列表 pageResult-->
    <select id="findBootListResult"  resultMap="BaseResultMap">
        SELECT /*MS-TA-BOOT-PAGES-FINDBOOTLIST*/  <include refid="Base_Column_List" /> FROM TA_BOOT_PAGES
        ORDER BY INX DESC
        limit #{startRow},#{limit}
    </select>

    <!--更新表:TA_BOOT_PAGES-->
    <update id="updateByPrimarySelective" >
        UPDATE /*MS-TA-BOOT-PAGES-UPDATEBYPRIMARYSELECTIVE*/ TA_BOOT_PAGES
        <set>
            <if test="inx != null ">
                INX             = #{inx,jdbcType=INTEGER},
            </if>
            <if test="remark != null ">
                REMARK          = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="linkUrl != null ">
                LINK_URL        = #{linkUrl,jdbcType=VARCHAR},
            </if>
            <if test="alterEmpl != null ">
                ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT},
            </if>
            <if test="alterTime != null ">
                ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isDisplay != null ">
                IS_DISPLAY      = #{isDisplay,jdbcType=INTEGER},
            </if>
            <if test="timestamp != null ">
                TIMESTAMP       = #{timestamp,jdbcType=BIGINT},
            </if>
            <if test="createEmpl != null ">
                CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT},
            </if>
            <if test="createTime != null ">
                CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="putawayTime != null ">
                PUTAWAY_TIME    = #{putawayTime,jdbcType=TIMESTAMP},
            </if>
            <if test="soldoutTime != null ">
                SOLDOUT_TIME    = #{soldoutTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validStatus != null ">
                VALID_STATUS    = #{validStatus,jdbcType=INTEGER},
            </if>
            <if test="bootPageName != null ">
                BOOT_PAGE_NAME  = #{bootPageName,jdbcType=VARCHAR}
            </if>
        </set>
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>
</mapper>
