<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaCompanyGoodsDOMapper">
    <!-- 自动生成,请修改 TA_COMPANY_GOODS.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaCompanyGoodsDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="SKU_ID" property="skuId" jdbcType="BIGINT" javaType="Long"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="GOODS_ID" property="goodsId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="COMPANY_ID" property="companyId" jdbcType="BIGINT" javaType="Long"/>
        <result column="GOODS_CODE" property="goodsCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="COMPANY_NAME" property="companyName" jdbcType="VARCHAR" javaType="String"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="COM_DIRECT_PRICE" property="comDirectPrice" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
    </resultMap>

    <resultMap id="PriceRangeInfo"  type="com.xl.dy.dal.resultmap.PriceRangeInfo">
        <result column="minPrice" property="minprice"  javaType="java.math.BigDecimal"/>
        <result column="maxPrice" property="maxprice"  javaType="java.math.BigDecimal"/>
    </resultMap>

    <sql id="Base_Column_List">
        ID,SKU_ID,REMARK,GOODS_ID,ALTER_EMPL,ALTER_TIME,COMPANY_ID,GOODS_CODE,TIMESTAMP,CREATE_EMPL,CREATE_TIME,COMPANY_NAME,VALID_STATUS,COM_DIRECT_PRICE
    </sql>


    <!--插入表:TA_COMPANY_GOODS-->
    <insert id="insert" >
        INSERT INTO TA_COMPANY_GOODS(
            ID
            ,SKU_ID
            ,REMARK
            ,GOODS_ID
            ,ALTER_EMPL
            ,ALTER_TIME
            ,COMPANY_ID
            ,GOODS_CODE
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
            ,COMPANY_NAME
            ,VALID_STATUS
            ,COM_DIRECT_PRICE
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{skuId,jdbcType=BIGINT}
            , #{remark,jdbcType=VARCHAR}
            , #{goodsId,jdbcType=BIGINT}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{companyId,jdbcType=BIGINT}
            , #{goodsCode,jdbcType=VARCHAR}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{companyName,jdbcType=VARCHAR}
            , #{validStatus,jdbcType=INTEGER}
            , #{comDirectPrice,jdbcType=DECIMAL}
        )
    </insert>

    <!--更新表:TA_COMPANY_GOODS-->
    <update id="update" >
        UPDATE /*MS-TA-COMPANY-GOODS-UPDATE*/ TA_COMPANY_GOODS
        SET
            SKU_ID          = #{skuId,jdbcType=BIGINT}
            ,REMARK          = #{remark,jdbcType=VARCHAR}
            ,GOODS_ID        = #{goodsId,jdbcType=BIGINT}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,COMPANY_ID      = #{companyId,jdbcType=BIGINT}
            ,GOODS_CODE      = #{goodsCode,jdbcType=VARCHAR}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,COMPANY_NAME    = #{companyName,jdbcType=VARCHAR}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
            ,COM_DIRECT_PRICE = #{comDirectPrice,jdbcType=DECIMAL}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_COMPANY_GOODS-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-COMPANY-GOODS-DELETEBYPRIMARY*/ FROM
            TA_COMPANY_GOODS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_COMPANY_GOODS-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-COMPANY-GOODS-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_COMPANY_GOODS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据主键删除数据:TA_COMPANY_GOODS-->
    <delete id="deleteByGoodsId" >
        DELETE /*MS-TA-COMPANY-GOODS-DELETEBYGOODSID*/ FROM
        TA_COMPANY_GOODS
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
    </delete>

    <!--根据主键删除数据:TA_COMPANY_GOODS-->
    <delete id="deleteBySkuId" >
        DELETE /*MS-TA-COMPANY-GOODS-DELETEBYSKUID*/ FROM
        TA_COMPANY_GOODS
        WHERE
        SKU_ID    = #{skuId,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_COMPANY_GOODS-->
    <select id="getByPrimarySelective" resultMap="BaseResultMap">
        SELECT /*MS-TA-COMPANY-GOODS-GETBYPRIMARYSELECTIVE*/  <include refid="Base_Column_List" />
        FROM TA_COMPANY_GOODS
        WHERE
        ID = #{id,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </select>

    <!--更新表:TA_COMPANY_GOODS-->
    <update id="updateSelective" >
        UPDATE /*MS-TA-COMPANY-GOODS-UPDATESELECTIVE*/ TA_COMPANY_GOODS
        <set>
            <if test="remark != null">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                GOODS_ID = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="alterEmpl != null">
                ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},
            </if>
            <if test="alterTime != null">
                ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyId != null">
                COMPANY_ID = #{companyId,jdbcType=BIGINT},
            </if>
            <if test="goodsCode != null">
                GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},
            </if>
            <if test="timestamp != null">
                TIMESTAMP = #{timestamp,jdbcType=BIGINT},
            </if>
            <if test="createEmpl != null">
                CREATE_EMPL = #{createEmpl,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="companyName != null">
                COMPANY_NAME = #{companyName,jdbcType=VARCHAR},
            </if>
            <if test="validStatus != null">
                VALID_STATUS = #{validStatus,jdbcType=INTEGER},
            </if>
            <if test="comDirectPrice != null">
                COM_DIRECT_PRICE = #{comDirectPrice,jdbcType=DECIMAL},
            </if>
        </set>
        <where>
            VALID_STATUS = 1
            <if test="skuId != null">AND SKU_ID = #{skuId,jdbcType=BIGINT}</if>
            <if test="goodsId != null">AND  GOODS_ID = #{goodsId,jdbcType=BIGINT}</if>
            <if test="companyId != null">AND  COMPANY_ID = #{companyId,jdbcType=BIGINT}</if>
        </where>
    </update>

    <!--修改有效性-->
    <update id="updateValidStatus" >
        UPDATE /*MS-TA-COMPANY-GOODS-UPDATEVALIDSTATUS*/ TA_COMPANY_GOODS
        SET
        VALID_STATUS = 0
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
    </update>

    <!--修改-->
    <update id="updateCompanyGoodsBySpu" >
        UPDATE /*MS-TA-COMPANY-GOODS-UPDATECOMPANYGOODSBYSPU*/ TA_COMPANY_GOODS
        <set>
            <if test="remark != null">REMARK = #{remark,jdbcType=VARCHAR},</if>
            <if test="alterEmpl != null">ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},</if>
            <if test="alterTime != null">ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP},</if>
            <if test="companyId != null">COMPANY_ID = #{companyId,jdbcType=BIGINT},</if>
            <if test="goodsCode != null">GOODS_CODE = #{goodsCode,jdbcType=VARCHAR},</if>
            <if test="timestamp != null">TIMESTAMP = #{timestamp,jdbcType=BIGINT},</if>
            <if test="createEmpl != null">CREATE_EMPL = #{createEmpl,jdbcType=BIGINT},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},</if>
            <if test="companyName != null">COMPANY_NAME = #{companyName,jdbcType=VARCHAR},</if>
            <if test="comDirectPrice != null">COM_DIRECT_PRICE = #{comDirectPrice,jdbcType=DECIMAL},</if>
        </set>
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </update>

    <!--根据产品ID获取数据:TA_COMPANY_GOODS-->
    <select id="getCompanyGoodsInfoByGoodsId" resultMap="BaseResultMap">
        SELECT /*MS-TA-COMPANY-GOODS-GETCOMPANYGOODSINFOBYGOODSID*/  <include refid="Base_Column_List" />
        FROM TA_COMPANY_GOODS
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
        AND VALID_STATUS = 1
        GROUP BY GOODS_ID
    </select>

    <!--根据SKUID获取数据:TA_COMPANY_GOODS-->
    <select id="getCompanyGoodsBySkuId" resultMap="BaseResultMap">
        SELECT /*MS-TA-COMPANY-GOODS-GETCOMPANYGOODSBYSKUID*/  <include refid="Base_Column_List" />
        FROM TA_COMPANY_GOODS
        WHERE
        SKU_ID = #{skuId,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </select>

    <!--根据goodsId获取指导价范围:TA_COMPANY_GOODS-->
    <select id="getDirectPriceRangeByGoodsId" resultMap="PriceRangeInfo">
        SELECT /*MS-TA-COMPANY-GOODS-GETDIRECTPRICERANGEBYGOODSID*/  T.minPrice,T.maxPrice
        FROM(SELECT /*MS-TA-COMPANY-GOODS-GETDIRECTPRICERANGEBYGOODSID*/  COMPANY_ID companyId,GOODS_ID goodsId,MIN(COM_DIRECT_PRICE) minPrice,MAX(COM_DIRECT_PRICE) maxPrice
        FROM TA_COMPANY_GOODS GROUP BY COMPANY_ID,GOODS_ID) T
        WHERE
        T.companyId = #{companyId,jdbcType=BIGINT}
        AND T.goodsId = #{goodsId,jdbcType=BIGINT}
    </select>
</mapper>
