<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaContractMcCategoryDOMapper">
    <!-- 自动生成,请修改 TA_CONTRACT_MC_CATEGORY.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaContractMcCategoryDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="DP" property="dp" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CONTRACT_ID" property="contractId" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="MG_CATEGORY_ID" property="mgCategoryId" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>


    <sql id="Base_Column_List">
        DP,ID,REMARK,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CONTRACT_ID,CREATE_EMPL,CREATE_TIME,VALID_STATUS,MG_CATEGORY_ID
    </sql>


    <!--插入表:TA_CONTRACT_MC_CATEGORY-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TA_CONTRACT_MC_CATEGORY(
            DP
            ,ID
            ,REMARK
            ,ALTER_EMPL
            ,ALTER_TIME
            ,TIMESTAMP
            ,CONTRACT_ID
            ,CREATE_EMPL
            ,CREATE_TIME
            ,VALID_STATUS
            ,MG_CATEGORY_ID
        )VALUES(
             #{dp,jdbcType=DECIMAL}
            , #{id,jdbcType=BIGINT}
            , #{remark,jdbcType=VARCHAR}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{timestamp,jdbcType=BIGINT}
            , #{contractId,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{validStatus,jdbcType=INTEGER}
            , #{mgCategoryId,jdbcType=BIGINT}
        )
    </insert>

    <!--更新表:TA_CONTRACT_MC_CATEGORY-->
    <update id="update" >
        UPDATE /*MS-TA-CONTRACT-MC-CATEGORY-UPDATE*/ TA_CONTRACT_MC_CATEGORY
        SET
            DP              = #{dp,jdbcType=DECIMAL}
            ,REMARK          = #{remark,jdbcType=VARCHAR}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CONTRACT_ID     = #{contractId,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
            ,MG_CATEGORY_ID  = #{mgCategoryId,jdbcType=BIGINT}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_CONTRACT_MC_CATEGORY-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-CONTRACT-MC-CATEGORY-DELETEBYPRIMARY*/ FROM
            TA_CONTRACT_MC_CATEGORY
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_CONTRACT_MC_CATEGORY-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-CONTRACT-MC-CATEGORY-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_CONTRACT_MC_CATEGORY
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据合同ID获取数据:TA_CONTRACT_MC_CATEGORY-->
    <select id="findListByContractId" resultType="java.util.Map">
        SELECT /*MS-TA-CONTRACT-MC-CATEGORY-FINDLISTBYCONTRACTID*/  A.DP dp, B.NAME name,B.FR fr
        FROM TA_CONTRACT_MC_CATEGORY A
        LEFT JOIN  TG_MG_CATEGORY B ON A.MG_CATEGORY_ID = B.ID
        WHERE
        A.CONTRACT_ID  = #{contractId,jdbcType=BIGINT}
    </select>
</mapper>
