<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaEmplShopDOMapper">
    <!-- 自动生成,请修改 TA_EMPL_SHOP.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaEmplShopDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="EMPL_ID" property="emplId" jdbcType="BIGINT" javaType="Long"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="SHOP_ID" property="shopId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,EMPL_ID,REMARK,SHOP_ID,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CREATE_EMPL,CREATE_TIME,VALID_STATUS
    </sql>


    <!--插入表:TA_EMPL_SHOP-->
    <insert id="insert" >
		INSERT INTO TA_EMPL_SHOP(
		ID
		,EMPL_ID
		,REMARK
		,SHOP_ID
		,ALTER_EMPL
		,ALTER_TIME
		,TIMESTAMP
		,CREATE_EMPL
		,CREATE_TIME
		,VALID_STATUS
		)VALUES(
		#{id,jdbcType=BIGINT}
		, #{emplId,jdbcType=BIGINT}
		, #{remark,jdbcType=VARCHAR}
		, #{shopId,jdbcType=BIGINT}
		, #{alterEmpl,jdbcType=BIGINT}
		, #{alterTime,jdbcType=TIMESTAMP}
		, #{timestamp,jdbcType=BIGINT}
		, #{createEmpl,jdbcType=BIGINT}
		, #{createTime,jdbcType=TIMESTAMP}
		, #{validStatus,jdbcType=INTEGER}
		)
    </insert>

    <!--更新表:TA_EMPL_SHOP-->
    <update id="update" >
		UPDATE /*MS-TA-EMPL-SHOP-UPDATE*/ TA_EMPL_SHOP
		SET
		EMPL_ID = #{emplId,jdbcType=BIGINT}
		,REMARK = #{remark,jdbcType=VARCHAR}
		,SHOP_ID = #{shopId,jdbcType=BIGINT}
		,ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT}
		,ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP}
		,TIMESTAMP = #{timestamp,jdbcType=BIGINT}
		,CREATE_EMPL = #{createEmpl,jdbcType=BIGINT}
		,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
		,VALID_STATUS = #{validStatus,jdbcType=INTEGER}
		WHERE
		ID = #{id,jdbcType=BIGINT}
    </update>

    <!--更新表:TA_EMPL_SHOP-->
    <update id="updateByPrimarySelective" >
		UPDATE /*MS-TA-EMPL-SHOP-UPDATEBYPRIMARYSELECTIVE*/ TA_EMPL_SHOP
		SET
		<if test="emplId != null">
			EMPL_ID = #{emplId,jdbcType=BIGINT},
		</if>
		<if test="remark != null">
			REMARK = #{remark,jdbcType=VARCHAR},
		</if>
		<if test="shopId != null">
			SHOP_ID = #{shopId,jdbcType=BIGINT},
		</if>
		<if test="alterEmpl!= null">
			ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},
		</if>
		<if test="alterTime!= null">
			ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP},
		</if>
		<if test="timestamp != null">
			TIMESTAMP = #{timestamp,jdbcType=BIGINT},
		</if>
		<if test="createEmpl != null">
			CREATE_EMPL = #{createEmpl,jdbcType=BIGINT},
		</if>
		<if test="createTime != null">
			CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
		</if>
		<if test="validStatus != null">
			VALID_STATUS = #{validStatus,jdbcType=INTEGER},
		</if>
		WHERE
		ID = #{id,jdbcType=BIGINT}
    </update>

    <!--更新表:TA_EMPL_SHOP-->
    <update id="updateByShopId" >
		UPDATE /*MS-TA-EMPL-SHOP-UPDATEBYSHOPID*/ TA_EMPL_SHOP
		SET
		,ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT}
		,ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP}
		,TIMESTAMP = #{timestamp,jdbcType=BIGINT}
		,VALID_STATUS = #{validStatus,jdbcType=INTEGER}
		WHERE
		SHOP_ID = #{shopId,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_EMPL_SHOP-->
    <delete id="deleteByPrimary" >
		DELETE /*MS-TA-EMPL-SHOP-DELETEBYPRIMARY*/ FROM
		TA_EMPL_SHOP
		WHERE
		ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键删除数据:TA_EMPL_SHOP-->
    <delete id="deleteByShopIdAndEmplId" >
		DELETE /*MS-TA-EMPL-SHOP-DELETEBYSHOPIDANDEMPLID*/ FROM
		TA_EMPL_SHOP
		WHERE
		SHOP_ID = #{shopId,jdbcType=BIGINT}
		AND
		EMPL_ID = #{emplId,jdbcType=BIGINT}
    </delete>

    <!--根据主键删除数据:TA_EMPL_SHOP-->
    <delete id="deleteByEmplId" >
		DELETE /*MS-TA-EMPL-SHOP-DELETEBYEMPLID*/ FROM
		TA_EMPL_SHOP
		WHERE
		EMPL_ID = #{emplId,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_EMPL_SHOP-->
    <select id="getByPrimary" resultMap="BaseResultMap">
		SELECT /*MS-TA-EMPL-SHOP-GETBYPRIMARY*/  <include refid="Base_Column_List" />
		FROM TA_EMPL_SHOP
		WHERE
		ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据主键获取数据:TA_EMPL_SHOP-->
    <select id="getByPrimarySelective" resultMap="BaseResultMap">
		SELECT /*MS-TA-EMPL-SHOP-GETBYPRIMARYSELECTIVE*/  <include refid="Base_Column_List" />
		FROM TA_EMPL_SHOP
		WHERE
		ID = #{id,jdbcType=BIGINT}
		AND VALID_STATUS = 1
    </select>

    <!--根据主键获取数据:TA_EMPL_SHOP-->
    <select id="getByEmplIdAndShopId" resultMap="BaseResultMap">
		SELECT /*MS-TA-EMPL-SHOP-GETBYEMPLIDANDSHOPID*/  <include refid="Base_Column_List" />
		FROM TA_EMPL_SHOP
		WHERE
		EMPL_ID = #{emplId,jdbcType=BIGINT}
		AND
		SHOP_ID = #{shopId,jdbcType=BIGINT}
    </select>
</mapper>
