<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaErpJinliDeptDOMapper">
    <!-- 自动生成,请修改 TA_ERP_JINLI_DEPT.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaErpJinliDeptDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="DEPT_ID" property="deptId" jdbcType="VARCHAR" javaType="String"/>
        <result column="IS_LEAF" property="isLeaf" jdbcType="INTEGER" javaType="Integer"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="ERP_CODE" property="erpCode" jdbcType="VARCHAR" javaType="String"/>
        <result column="DEPT_NAME" property="deptName" jdbcType="VARCHAR" javaType="String"/>
        <result column="DEPT_TYPE" property="deptType" jdbcType="INTEGER" javaType="Integer"/>
        <result column="PARENT_ID" property="parentId" jdbcType="VARCHAR" javaType="String"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="DEPT_LEVEL" property="deptLevel" jdbcType="INTEGER" javaType="Integer"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,DEPT_ID,IS_LEAF,REMARK,ERP_CODE,DEPT_NAME,DEPT_TYPE,PARENT_ID,ALTER_EMPL,ALTER_TIME,DEPT_LEVEL,TIMESTAMP,CREATE_EMPL,CREATE_TIME,VALID_STATUS
    </sql>


    <!--插入表:TA_ERP_JINLI_DEPT-->
    <insert id="insert" >
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT
            LAST_INSERT_ID()
        </selectKey>
        INSERT INTO TA_ERP_JINLI_DEPT(
            ID
            ,DEPT_ID
            ,IS_LEAF
            ,REMARK
            ,ERP_CODE
            ,DEPT_NAME
            ,DEPT_TYPE
            ,PARENT_ID
            ,ALTER_EMPL
            ,ALTER_TIME
            ,DEPT_LEVEL
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
            ,VALID_STATUS
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{deptId,jdbcType=VARCHAR}
            , #{isLeaf,jdbcType=INTEGER}
            , #{remark,jdbcType=VARCHAR}
            , #{erpCode,jdbcType=VARCHAR}
            , #{deptName,jdbcType=VARCHAR}
            , #{deptType,jdbcType=INTEGER}
            , #{parentId,jdbcType=VARCHAR}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{deptLevel,jdbcType=INTEGER}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{validStatus,jdbcType=INTEGER}
        )
    </insert>

    <!--更新表:TA_ERP_JINLI_DEPT-->
    <update id="update" >
        UPDATE /*MS-TA-ERP-JINLI-DEPT-UPDATE*/ TA_ERP_JINLI_DEPT
        SET
            DEPT_ID         = #{deptId,jdbcType=VARCHAR}
            ,IS_LEAF         = #{isLeaf,jdbcType=INTEGER}
            ,REMARK          = #{remark,jdbcType=VARCHAR}
            ,ERP_CODE        = #{erpCode,jdbcType=VARCHAR}
            ,DEPT_NAME       = #{deptName,jdbcType=VARCHAR}
            ,DEPT_TYPE       = #{deptType,jdbcType=INTEGER}
            ,PARENT_ID       = #{parentId,jdbcType=VARCHAR}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,DEPT_LEVEL      = #{deptLevel,jdbcType=INTEGER}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_ERP_JINLI_DEPT-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-ERP-JINLI-DEPT-DELETEBYPRIMARY*/ FROM
            TA_ERP_JINLI_DEPT
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_ERP_JINLI_DEPT-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-ERP-JINLI-DEPT-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_ERP_JINLI_DEPT
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据部门类型获取部门信息-->
    <select id="getErpDeptByType" resultMap="BaseResultMap">
        SELECT /*MS-TA-ERP-JINLI-DEPT-GETERPDEPTBYTYPE*/  <include refid="Base_Column_List" /> FROM TA_ERP_JINLI_DEPT 
        WHERE ERP_CODE =  'jl'
        AND DEPT_TYPE=#{deptType,jdbcType=INTEGER} ORDER BY DEPT_LEVEL ASC 
    </select>
</mapper>
