<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaGoodsAuditDOMapper">
    <!-- 自动生成,请修改 TA_GOODS_AUDIT.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaGoodsAuditDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="IS_SHOW" property="isShow" jdbcType="INTEGER" javaType="Integer"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="GOODS_ID" property="goodsId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="AUDIT_TIME" property="auditTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="AUDIT_TYPE" property="auditType" jdbcType="VARCHAR" javaType="String"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="AUDIT_EMPL_ID" property="auditEmplId" jdbcType="BIGINT" javaType="Long"/>
        <result column="AUDIT_SHOP_ID" property="auditShopId" jdbcType="BIGINT" javaType="Long"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="REJECT_REASON" property="rejectReason" jdbcType="VARCHAR" javaType="String"/>
        <result column="AUDIT_EMPL_NAME" property="auditEmplName" jdbcType="VARCHAR" javaType="String"/>
        <result column="AUDIT_INFO_JSON" property="auditInfoJson" jdbcType="VARCHAR" javaType="String"/>
        <result column="AUDIT_COMPANY_ID" property="auditCompanyId" jdbcType="BIGINT" javaType="Long"/>
        <result column="AUDIT_SUBMIT_TIME" property="auditSubmitTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="GOODS_AUDIT_STATUS" property="goodsAuditStatus" jdbcType="VARCHAR" javaType="String"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,IS_SHOW,REMARK,GOODS_ID,ALTER_EMPL,ALTER_TIME,AUDIT_TIME,AUDIT_TYPE,TIMESTAMP,CREATE_EMPL,CREATE_TIME,AUDIT_EMPL_ID,AUDIT_SHOP_ID,VALID_STATUS,REJECT_REASON,AUDIT_EMPL_NAME,AUDIT_INFO_JSON,AUDIT_COMPANY_ID,AUDIT_SUBMIT_TIME,GOODS_AUDIT_STATUS
    </sql>


    <!--插入表:TA_GOODS_AUDIT-->
    <insert id="insert" >
        INSERT INTO TA_GOODS_AUDIT(
            ID
            ,IS_SHOW
            ,REMARK
            ,GOODS_ID
            ,ALTER_EMPL
            ,ALTER_TIME
            ,AUDIT_TIME
            ,AUDIT_TYPE
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
            ,AUDIT_EMPL_ID
            ,AUDIT_SHOP_ID
            ,VALID_STATUS
            ,REJECT_REASON
            ,AUDIT_EMPL_NAME
            ,AUDIT_INFO_JSON
            ,AUDIT_COMPANY_ID
            ,AUDIT_SUBMIT_TIME
            ,GOODS_AUDIT_STATUS
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{isShow,jdbcType=INTEGER}
            , #{remark,jdbcType=VARCHAR}
            , #{goodsId,jdbcType=BIGINT}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{auditTime,jdbcType=TIMESTAMP}
            , #{auditType,jdbcType=VARCHAR}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{auditEmplId,jdbcType=BIGINT}
            , #{auditShopId,jdbcType=BIGINT}
            , #{validStatus,jdbcType=INTEGER}
            , #{rejectReason,jdbcType=VARCHAR}
            , #{auditEmplName,jdbcType=VARCHAR}
            , #{auditInfoJson,jdbcType=VARCHAR}
            , #{auditCompanyId,jdbcType=BIGINT}
            , #{auditSubmitTime,jdbcType=TIMESTAMP}
            , #{goodsAuditStatus,jdbcType=VARCHAR}
        )
    </insert>

    <!--更新表:TA_GOODS_AUDIT-->
    <update id="update" >
        UPDATE /*MS-TA-GOODS-AUDIT-UPDATE*/ TA_GOODS_AUDIT
        SET
            IS_SHOW         = #{isShow,jdbcType=INTEGER}
            ,REMARK          = #{remark,jdbcType=VARCHAR}
            ,GOODS_ID        = #{goodsId,jdbcType=BIGINT}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,AUDIT_TIME      = #{auditTime,jdbcType=TIMESTAMP}
            ,AUDIT_TYPE      = #{auditType,jdbcType=VARCHAR}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,AUDIT_EMPL_ID   = #{auditEmplId,jdbcType=BIGINT}
            ,AUDIT_SHOP_ID   = #{auditShopId,jdbcType=BIGINT}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
            ,REJECT_REASON   = #{rejectReason,jdbcType=VARCHAR}
            ,AUDIT_EMPL_NAME = #{auditEmplName,jdbcType=VARCHAR}
            ,AUDIT_INFO_JSON = #{auditInfoJson,jdbcType=VARCHAR}
            ,AUDIT_COMPANY_ID = #{auditCompanyId,jdbcType=BIGINT}
            ,AUDIT_SUBMIT_TIME = #{auditSubmitTime,jdbcType=TIMESTAMP}
            ,GOODS_AUDIT_STATUS = #{goodsAuditStatus,jdbcType=VARCHAR}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_GOODS_AUDIT-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-GOODS-AUDIT-DELETEBYPRIMARY*/ FROM
            TA_GOODS_AUDIT
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_GOODS_AUDIT-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-GOODS-AUDIT-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_GOODS_AUDIT
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--查询审核商品列表 pageCount-->
    <select id="findGoodCheckPageCount"  resultType="int">
        SELECT
          COUNT(*) AS total 
        FROM
 TA_GOODS_AUDIT
        <where>
            VALID_STATUS = 1
            AND IS_SHOW = 1
            <if test="goodsId!=null and goodsId!= ''">
                AND GOODS_ID = #{goodsId,jdbcType=BIGINT}
            </if>
            <if test="auditType!=null and auditType!= ''">
                AND AUDIT_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="auditEmplName!=null and auditEmplName!= ''">
                AND AUDIT_EMPL_NAME = #{auditEmplName,jdbcType=VARCHAR}
            </if>
            <if test="goodsAuditStatus!=null and goodsAuditStatus!= ''">
                AND GOODS_AUDIT_STATUS = #{goodsAuditStatus,jdbcType=VARCHAR}
            </if>
            <if test="auditShopId!=null and auditShopId!= ''">
                AND AUDIT_SHOP_ID = #{auditShopId,jdbcType=BIGINT}
            </if>
            <if test="auditCompanyId!=null and auditCompanyId!= ''">
                AND AUDIT_COMPANY_ID = #{auditCompanyId,jdbcType=BIGINT}
            </if>
            <if test="auditSubmitTime!=null and auditSubmitTime!= ''">
                AND AUDIT_SUBMIT_TIME = #{auditSubmitTime,jdbcType=TIMESTAMP}
            </if>
            <if test="auditStartTime!=null and auditStartTime!= ''">
                AND AUDIT_TIME  &gt; #{auditStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditEndTime!=null and auditEndTime!= ''">
                AND AUDIT_TIME &lt; #{auditEndTime,jdbcType=TIMESTAMP},
            </if>
        </where>
    </select>
    <!--查询审核商品列表 pageResult-->
    <select id="findGoodCheckPageResult"  resultMap="BaseResultMap">
        SELECT /*MS-TA-GOODS-AUDIT-FINDGOODCHECKPAGE*/  <include refid="Base_Column_List" />
        FROM TA_GOODS_AUDIT
        <where>
            VALID_STATUS = 1
            AND IS_SHOW = 1
            <if test="goodsId!=null and goodsId!= ''">
                AND GOODS_ID = #{goodsId,jdbcType=BIGINT}
            </if>
            <if test="auditType!=null and auditType!= ''">
                AND AUDIT_TYPE = #{auditType,jdbcType=VARCHAR}
            </if>
            <if test="auditEmplName!=null and auditEmplName!= ''">
                AND AUDIT_EMPL_NAME = #{auditEmplName,jdbcType=VARCHAR}
            </if>
            <if test="goodsAuditStatus!=null and goodsAuditStatus!= ''">
                AND GOODS_AUDIT_STATUS = #{goodsAuditStatus,jdbcType=VARCHAR}
            </if>
            <if test="auditShopId!=null and auditShopId!= ''">
                AND AUDIT_SHOP_ID = #{auditShopId,jdbcType=BIGINT}
            </if>
            <if test="auditCompanyId!=null and auditCompanyId!= ''">
                AND AUDIT_COMPANY_ID = #{auditCompanyId,jdbcType=BIGINT}
            </if>
            <if test="auditSubmitTime!=null and auditSubmitTime!= ''">
                AND AUDIT_SUBMIT_TIME = #{auditSubmitTime,jdbcType=TIMESTAMP}
            </if>
            <if test="auditStartTime!=null and auditStartTime!= ''">
                AND AUDIT_TIME  &gt; #{auditStartTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditEndTime!=null and auditEndTime!= ''">
                AND AUDIT_TIME &lt; #{auditEndTime,jdbcType=TIMESTAMP},
            </if>
        </where>
        limit #{startRow},#{limit}
    </select>

    <!--更新表:TA_GOODS_AUDIT-->
    <update id="updateSelective" >
        UPDATE /*MS-TA-GOODS-AUDIT-UPDATESELECTIVE*/ TA_GOODS_AUDIT
        <set>
            <if test="isShow!=null and isShow!= ''">
                IS_SHOW  = #{isShow,jdbcType=INTEGER},
            </if>
            <if test="remark!=null and remark!= ''">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="goodsId!=null and goodsId!= ''">
                GOODS_ID = #{goodsId,jdbcType=BIGINT},
            </if>
            <if test="alterEmpl!=null and alterEmpl!= ''">
                ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},
            </if>
            <if test="alterTime!=null and alterTime!= ''">
                ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditTime!=null and auditTime!= ''">
                AUDIT_TIME = #{auditTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditType!=null and auditType!= ''">
                AUDIT_TYPE = #{auditType,jdbcType=VARCHAR},
            </if>
            <if test="timestamp!=null and timestamp!= ''">
                TIMESTAMP = #{timestamp,jdbcType=BIGINT},
            </if>
            <if test="createEmpl!=null and createEmpl!= ''">
                CREATE_EMPL = #{createEmpl,jdbcType=BIGINT},
            </if>
            <if test="createTime!=null and createTime!= ''">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="auditEmplId!=null and auditEmplId!= ''">
                AUDIT_EMPL_ID = #{auditEmplId,jdbcType=BIGINT},
            </if>
            <if test="auditShopId!=null and auditShopId!= ''">
                AUDIT_SHOP_ID = #{auditShopId,jdbcType=BIGINT},
            </if>
            <if test="validStatus!=null and validStatus!= ''">
                VALID_STATUS = #{validStatus,jdbcType=INTEGER},
            </if>
            <if test="rejectReason!=null and rejectReason!= ''">
                REJECT_REASON = #{rejectReason,jdbcType=VARCHAR},
            </if>
            <if test="auditEmplName!=null and auditEmplName!= ''">
                AUDIT_EMPL_NAME = #{auditEmplName,jdbcType=VARCHAR},
            </if>
            <if test="auditInfoJson!=null and auditInfoJson!= ''">
                AUDIT_INFO_JSON = #{auditInfoJson,jdbcType=VARCHAR},
            </if>
            <if test="auditCompanyId!=null and auditCompanyId!= ''">
                AUDIT_COMPANY_ID = #{auditCompanyId,jdbcType=BIGINT},
            </if>
            <if test="auditSubmitTime!=null and auditSubmitTime!= ''">
                AUDIT_SUBMIT_TIME = #{auditSubmitTime,jdbcType=TIMESTAMP},
            </if>
            <if test="goodsAuditStatus!=null and goodsAuditStatus!= ''">
                GOODS_AUDIT_STATUS = #{goodsAuditStatus,jdbcType=VARCHAR},
            </if>
        </set>
        <where>
            VALID_STATUS = 1
            <if test="id!=null and id!= ''">
                AND ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="goodsId!=null and goodsId!= ''">
                AND GOODS_ID = #{goodsId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <!--根据主键删除数据:TA_GOODS_AUDIT-->
    <delete id="deleteSelective" >
        DELETE /*MS-TA-GOODS-AUDIT-DELETESELECTIVE*/ FROM
        TA_GOODS_AUDIT
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
        <if test="auditShopId!=null">
            AND  AUDIT_SHOP_ID = #{auditShopId,jdbcType=BIGINT}
        </if>
    </delete>
</mapper>
