<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaResLimitsDOMapper">
    <!-- 自动生成,请修改 TA_RES_LIMITS.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaResLimitsDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="ROLE_RES" property="roleRes" jdbcType="BIGINT" javaType="Long"/>
        <result column="PF_MENU_ID" property="pfMenuId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="LIMITS_NAME" property="limitsName" jdbcType="VARCHAR" javaType="String"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,REMARK,ROLE_RES,PF_MENU_ID,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CREATE_EMPL,CREATE_TIME,LIMITS_NAME,VALID_STATUS
    </sql>


    <!--插入表:TA_RES_LIMITS-->
    <insert id="insert" >
        INSERT INTO TA_RES_LIMITS(
            ID
            ,REMARK
            ,ROLE_RES
            ,PF_MENU_ID
            ,ALTER_EMPL
            ,ALTER_TIME
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
            ,LIMITS_NAME
            ,VALID_STATUS
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{remark,jdbcType=VARCHAR}
            , #{roleRes,jdbcType=BIGINT}
            , #{pfMenuId,jdbcType=BIGINT}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
            , #{limitsName,jdbcType=VARCHAR}
            , #{validStatus,jdbcType=INTEGER}
        )
    </insert>

    <!--更新表:TA_RES_LIMITS-->
    <update id="update" >
        UPDATE /*MS-TA-RES-LIMITS-UPDATE*/ TA_RES_LIMITS
        SET
            REMARK          = #{remark,jdbcType=VARCHAR}
            ,ROLE_RES        = #{roleRes,jdbcType=BIGINT}
            ,PF_MENU_ID      = #{pfMenuId,jdbcType=BIGINT}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
            ,LIMITS_NAME     = #{limitsName,jdbcType=VARCHAR}
            ,VALID_STATUS    = #{validStatus,jdbcType=INTEGER}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_RES_LIMITS-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-RES-LIMITS-DELETEBYPRIMARY*/ FROM
            TA_RES_LIMITS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_RES_LIMITS-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-RES-LIMITS-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_RES_LIMITS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--更新表:TA_RES_LIMITS-->
    <update id="updateSelective" >
        UPDATE /*MS-TA-RES-LIMITS-UPDATESELECTIVE*/ TA_RES_LIMITS
        SET
            LIMITS_NAME   = #{limitsName,jdbcType=VARCHAR},
            ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},
            ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP}
        WHERE
            ID  = #{id,jdbcType=BIGINT}
            AND VALID_STATUS = 1
    </update>

    <!--根据系统资源ID，获取相应的权限列表-->
    <select id="getLimitsById" resultType="Map">
        SELECT /*MS-TA-RES-LIMITS-GETLIMITSBYID*/  ID,LIMITS_NAME
        FROM TA_RES_LIMITS
        WHERE
            ROLE_RES =  #{resId,jdbcType=BIGINT}
            AND VALID_STATUS = 1
    </select>

    <!--根据菜单ID，获取相应的权限列表-->
    <select id="getLimitsByMenuId" resultType="Map">
        SELECT /*MS-TA-RES-LIMITS-GETLIMITSBYMENUID*/  ID,LIMITS_NAME NAME
        FROM TA_RES_LIMITS
        WHERE
        PF_MENU_ID      = #{pfMenuId,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </select>

    <!--根据菜单ID获取权限列表-->
    <select id="findMenuLimitTree" resultMap="BaseResultMap">
        SELECT /*MS-TA-RES-LIMITS-FINDMENULIMITTREE*/  <include refid="Base_Column_List" />
        FROM TA_RES_LIMITS
        WHERE
        PF_MENU_ID      = #{pfMenuId,jdbcType=BIGINT}
         AND VALID_STATUS = 1
    </select>

    <!--根据资源ID，插入与之对应的菜单ID-->
    <update id="updateMenuId" >
        UPDATE /*MS-TA-RES-LIMITS-UPDATEMENUID*/ TA_RES_LIMITS
        SET
             PF_MENU_ID      = #{pfMenuId,jdbcType=BIGINT}
        WHERE
        ID  = #{id,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </update>

    <!--更新有效性状态-->
    <update id="updateValidStatus" >
        UPDATE /*MS-TA-RES-LIMITS-UPDATEVALIDSTATUS*/ TA_RES_LIMITS
        SET
            VALID_STATUS = 0
        WHERE
        ID  = #{id,jdbcType=BIGINT}
    </update>

    <!--根据资源ID获取数据:TA_RES_LIMITS-->
    <select id="getByRoleResId" resultMap="BaseResultMap">
        SELECT /*MS-TA-RES-LIMITS-GETBYROLERESID*/  <include refid="Base_Column_List" />
        FROM TA_RES_LIMITS
        WHERE
        ROLE_RES        = #{roleRes,jdbcType=BIGINT}
        AND  VALID_STATUS = 1
    </select>
</mapper>
