<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaShopMcCategoryDOMapper">
    <!-- 自动生成,请修改 TA_SHOP_MC_CATEGORY.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaShopMcCategoryDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="SHOP_ID" property="shopId" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
        <result column="MG_CATEGORY_ID" property="mgCategoryId" jdbcType="BIGINT" javaType="Long"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,REMARK,SHOP_ID,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CREATE_EMPL,CREATE_TIME,VALID_STATUS,MG_CATEGORY_ID
    </sql>


    <!--插入表:TA_SHOP_MC_CATEGORY-->
    <insert id="insert" >
        INSERT INTO TA_SHOP_MC_CATEGORY(
        ID
        ,REMARK
        ,SHOP_ID
        ,ALTER_EMPL
        ,ALTER_TIME
        ,TIMESTAMP
        ,CREATE_EMPL
        ,CREATE_TIME
        ,VALID_STATUS
        ,MG_CATEGORY_ID
        )VALUES(
        #{id,jdbcType=BIGINT}
        , #{remark,jdbcType=VARCHAR}
        , #{shopId,jdbcType=BIGINT}
        , #{alterEmpl,jdbcType=BIGINT}
        , #{alterTime,jdbcType=TIMESTAMP}
        , #{timestamp,jdbcType=BIGINT}
        , #{createEmpl,jdbcType=BIGINT}
        , #{createTime,jdbcType=TIMESTAMP}
        , #{validStatus,jdbcType=INTEGER}
        , #{mgCategoryId,jdbcType=BIGINT}
        )
    </insert>

    <!--更新表:TA_SHOP_MC_CATEGORY-->
    <update id="update" >
        UPDATE /*MS-TA-SHOP-MC-CATEGORY-UPDATE*/ TA_SHOP_MC_CATEGORY
        SET
        REMARK = #{remark,jdbcType=VARCHAR}
        ,SHOP_ID = #{shopId,jdbcType=BIGINT}
        ,ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT}
        ,ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP}
        ,TIMESTAMP = #{timestamp,jdbcType=BIGINT}
        ,CREATE_EMPL = #{createEmpl,jdbcType=BIGINT}
        ,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        ,VALID_STATUS = #{validStatus,jdbcType=INTEGER}
        ,MG_CATEGORY_ID = #{mgCategoryId,jdbcType=BIGINT}
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_SHOP_MC_CATEGORY-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-SHOP-MC-CATEGORY-DELETEBYPRIMARY*/ FROM
        TA_SHOP_MC_CATEGORY
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_SHOP_MC_CATEGORY-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-SHOP-MC-CATEGORY-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_SHOP_MC_CATEGORY
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据主键获取数据:TA_SHOP_MC_CATEGORY-->
    <select id="getByPrimarySelective" resultMap="BaseResultMap">
        SELECT /*MS-TA-SHOP-MC-CATEGORY-GETBYPRIMARYSELECTIVE*/  <include refid="Base_Column_List" />
        FROM TA_SHOP_MC_CATEGORY
        WHERE
        ID = #{id,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </select>

    <!--根据主键获取数据:TA_SHOP_MC_CATEGORY-->
    <select id="getByShopId" resultMap="BaseResultMap">
        SELECT /*MS-TA-SHOP-MC-CATEGORY-GETBYSHOPID*/  <include refid="Base_Column_List" />
        FROM TA_SHOP_MC_CATEGORY
        WHERE
        SHOP_ID = #{shopId,jdbcType=BIGINT}
        AND VALID_STATUS = 1
    </select>

    <!--根据店铺id获取店铺营业类目id和名字-->
    <select id="getShopCategoryList" resultType="java.util.Map">
        SELECT /*MS-TA-SHOP-MC-CATEGORY-GETSHOPCATEGORYLIST*/  b.id,b.name FROM TG_MG_CATEGORY b LEFT JOIN TA_SHOP_MC_CATEGORY a on b.id = a.mg_category_id
        WHERE a.shop_id = #{shopId,jdbcType=BIGINT}
    </select>
</mapper>
