<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TaShopGoodsStoreDOMapper">
    <!-- 自动生成,请修改 TA_SHOP_GOODS_STORE.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TaShopGoodsStoreDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="SKU_ID" property="skuId" jdbcType="BIGINT" javaType="Long"/>
        <result column="STORE" property="store" jdbcType="DECIMAL" javaType="java.math.BigDecimal"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR" javaType="String"/>
        <result column="SHOP_ID" property="shopId" jdbcType="BIGINT" javaType="Long"/>
        <result column="GOODS_ID" property="goodsId" jdbcType="BIGINT" javaType="Long"/>
        <result column="SALE_TYPE" property="saleType" jdbcType="VARCHAR" javaType="String"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="SHOP_GOODS_ID" property="shopGoodsId" jdbcType="BIGINT" javaType="Long"/>
        <result column="VALID_STATUS" property="validStatus" jdbcType="INTEGER" javaType="Integer"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,SKU_ID,STORE,REMARK,SHOP_ID,GOODS_ID,SALE_TYPE,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CREATE_EMPL,CREATE_TIME,SHOP_GOODS_ID,VALID_STATUS
    </sql>


    <!--插入表:TA_SHOP_GOODS_STORE-->
    <insert id="insert" >
        INSERT INTO TA_SHOP_GOODS_STORE(
        ID
        ,SKU_ID
        ,STORE
        ,REMARK
        ,SHOP_ID
        ,GOODS_ID
        ,SALE_TYPE
        ,ALTER_EMPL
        ,ALTER_TIME
        ,TIMESTAMP
        ,CREATE_EMPL
        ,CREATE_TIME
        ,SHOP_GOODS_ID
        ,VALID_STATUS
        )VALUES(
        #{id,jdbcType=BIGINT}
        , #{skuId,jdbcType=BIGINT}
        , #{store,jdbcType=DECIMAL}
        , #{remark,jdbcType=VARCHAR}
        , #{shopId,jdbcType=BIGINT}
        , #{goodsId,jdbcType=BIGINT}
        , #{saleType,jdbcType=VARCHAR}
        , #{alterEmpl,jdbcType=BIGINT}
        , #{alterTime,jdbcType=TIMESTAMP}
        , #{timestamp,jdbcType=BIGINT}
        , #{createEmpl,jdbcType=BIGINT}
        , #{createTime,jdbcType=TIMESTAMP}
        , #{shopGoodsId,jdbcType=BIGINT}
        , #{validStatus,jdbcType=INTEGER}
        )
    </insert>

    <!--更新表:TA_SHOP_GOODS_STORE-->
    <update id="update" >
        UPDATE /*MS-TA-SHOP-GOODS-STORE-UPDATE*/ TA_SHOP_GOODS_STORE
        SET
        SKU_ID = #{skuId,jdbcType=BIGINT}
        ,STORE = #{store,jdbcType=DECIMAL}
        ,REMARK = #{remark,jdbcType=VARCHAR}
        ,SHOP_ID = #{shopId,jdbcType=BIGINT}
        ,GOODS_ID = #{goodsId,jdbcType=BIGINT}
        ,SALE_TYPE = #{saleType,jdbcType=VARCHAR}
        ,ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT}
        ,ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP}
        ,TIMESTAMP = #{timestamp,jdbcType=BIGINT}
        ,CREATE_EMPL = #{createEmpl,jdbcType=BIGINT}
        ,CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
        ,SHOP_GOODS_ID = #{shopGoodsId,jdbcType=BIGINT}
        ,VALID_STATUS = #{validStatus,jdbcType=INTEGER}
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TA_SHOP_GOODS_STORE-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TA-SHOP-GOODS-STORE-DELETEBYPRIMARY*/ FROM
        TA_SHOP_GOODS_STORE
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TA_SHOP_GOODS_STORE-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TA-SHOP-GOODS-STORE-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TA_SHOP_GOODS_STORE
        WHERE
        ID = #{id,jdbcType=BIGINT}
    </select>

    <!--根据skuID获取所有类型的库存:TA_SHOP_GOODS_STORE-->
    <select id="getTotalStoreBySkuId" resultType="java.math.BigDecimal">
        SELECT /*MS-TA-SHOP-GOODS-STORE-GETTOTALSTOREBYSKUID*/  SUM(STORE) totalStore
        FROM TA_SHOP_GOODS_STORE
        WHERE
        SKU_ID = #{skuId,jdbcType=BIGINT}
    </select>

    <!--根据某个专业公司下某类商品某个sku的总库存:TA_SHOP_GOODS_STORE-->
    <select id="getTotalStoreForProductDetail" resultType="java.math.BigDecimal">
        SELECT /*MS-TA-SHOP-GOODS-STORE-GETTOTALSTOREFORPRODUCTDETAIL*/  SUM(TOTAL_STORE) totalStore
        FROM TA_SHOP_GOODS
        WHERE
        COMPANY_ID = #{companyId,jdbcType=BIGINT}
        AND SKU_ID = #{skuId,jdbcType=BIGINT}
        AND GOODS_ID = #{goodsId,jdbcType=BIGINT}
        GROUP BY COMPANY_ID,GOODS_ID,SKU_ID
    </select>

    <!--根据主键删除数据:TA_SHOP_GOODS_STORE-->
    <delete id="deleteShopGoodsStore" >
        DELETE /*MS-TA-SHOP-GOODS-STORE-DELETESHOPGOODSSTORE*/ FROM
        TA_SHOP_GOODS_STORE
        WHERE
        GOODS_ID = #{goodsId,jdbcType=BIGINT}
        <if test="shopId!=null">
            AND SHOP_ID = #{shopId,jdbcType=BIGINT}
        </if>
    </delete>

    <!--根据主键删除数据:TA_SHOP_GOODS_STORE-->
    <delete id="deleteShopGoodsStoreBySkuIdAndShopId" >
        DELETE /*MS-TA-SHOP-GOODS-STORE-DELETESHOPGOODSSTOREBYSKUIDANDSHOPID*/ FROM
        TA_SHOP_GOODS_STORE
        WHERE
        SKU_ID = #{skuId,jdbcType=BIGINT}
        <if test="shopId!=null and shopId != '' ">
            AND SHOP_ID = #{shopId,jdbcType=BIGINT}
        </if>
    </delete>

    <!--更新表:TA_SHOP_GOODS_STORE-->
    <update id="updateSelective" >
        UPDATE /*MS-TA-SHOP-GOODS-STORE-UPDATESELECTIVE*/ TA_SHOP_GOODS_STORE
        <set>
            <if test="store != null">
                STORE = #{store,jdbcType=DECIMAL},
            </if>
            <if test="remark != null and remark != ''">
                REMARK = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="saleType != null and saleType != ''">
                SALE_TYPE = #{saleType,jdbcType=VARCHAR},
            </if>
            <if test="alterEmpl != null">
                ALTER_EMPL = #{alterEmpl,jdbcType=BIGINT},
            </if>
            <if test="alterTime != null">
                ALTER_TIME = #{alterTime,jdbcType=TIMESTAMP},
            </if>
            <if test="timestamp != null">
                TIMESTAMP = #{timestamp,jdbcType=TIMESTAMP},
            </if>
            <if test="createEmpl != null">
                CREATE_EMPL = #{createEmpl,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="validStatus != null">
                VALID_STATUS = #{validStatus,jdbcType=INTEGER},
            </if>
        </set>
        <where>
            <if test="id != null">
                ID = #{id,jdbcType=BIGINT}
            </if>
            <if test="skuId != null">
                AND SKU_ID = #{skuId,jdbcType=BIGINT}
            </if>
            <if test="shopId != null">
                AND SHOP_ID = #{shopId,jdbcType=BIGINT}
            </if>
        </where>
    </update>

    <!--根据主键获取数据:TA_SHOP_GOODS_STORE-->
    <select id="getBySkuIdAndShopId" resultMap="BaseResultMap">
        SELECT /*MS-TA-SHOP-GOODS-STORE-GETBYSKUIDANDSHOPID*/  SALE_TYPE,STORE
        FROM TA_SHOP_GOODS_STORE
        WHERE
        SKU_ID = #{skuId,jdbcType=BIGINT}
        AND SHOP_ID = #{shopId,jdbcType=BIGINT}
    </select>
</mapper>
