<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xl.dy.dal.mapper.TgLogisticsDOMapper">
    <!-- 自动生成,请修改 TG_LOGISTICS.xml -->
    <resultMap id="BaseResultMap"  type="com.xl.dy.dal.dataobject.TgLogisticsDO">
        <id column="ID" property="id" jdbcType="BIGINT" javaType="Long"/>
        <result column="CODE" property="code" jdbcType="VARCHAR" javaType="String"/>
        <result column="NAME" property="name" jdbcType="VARCHAR" javaType="String"/>
        <result column="ALTER_EMPL" property="alterEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="ALTER_TIME" property="alterTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        <result column="TIMESTAMP" property="timestamp" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_EMPL" property="createEmpl" jdbcType="BIGINT" javaType="Long"/>
        <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
    </resultMap>


    <sql id="Base_Column_List">
        ID,CODE,NAME,ALTER_EMPL,ALTER_TIME,TIMESTAMP,CREATE_EMPL,CREATE_TIME
    </sql>


    <!--插入表:TG_LOGISTICS-->
    <insert id="insert" >
        INSERT INTO TG_LOGISTICS(
            ID
            ,CODE
            ,NAME
            ,ALTER_EMPL
            ,ALTER_TIME
            ,TIMESTAMP
            ,CREATE_EMPL
            ,CREATE_TIME
        )VALUES(
             #{id,jdbcType=BIGINT}
            , #{code,jdbcType=VARCHAR}
            , #{name,jdbcType=VARCHAR}
            , #{alterEmpl,jdbcType=BIGINT}
            , #{alterTime,jdbcType=TIMESTAMP}
            , #{timestamp,jdbcType=BIGINT}
            , #{createEmpl,jdbcType=BIGINT}
            , #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>

    <!--更新表:TG_LOGISTICS-->
    <update id="update" >
        UPDATE /*MS-TG-LOGISTICS-UPDATE*/ TG_LOGISTICS
        SET
            CODE            = #{code,jdbcType=VARCHAR}
            ,NAME            = #{name,jdbcType=VARCHAR}
            ,ALTER_EMPL      = #{alterEmpl,jdbcType=BIGINT}
            ,ALTER_TIME      = #{alterTime,jdbcType=TIMESTAMP}
            ,TIMESTAMP       = #{timestamp,jdbcType=BIGINT}
            ,CREATE_EMPL     = #{createEmpl,jdbcType=BIGINT}
            ,CREATE_TIME     = #{createTime,jdbcType=TIMESTAMP}
        WHERE
            ID              = #{id,jdbcType=BIGINT}
    </update>

    <!--根据主键删除数据:TG_LOGISTICS-->
    <delete id="deleteByPrimary" >
        DELETE /*MS-TG-LOGISTICS-DELETEBYPRIMARY*/ FROM
            TG_LOGISTICS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </delete>

    <!--根据主键获取数据:TG_LOGISTICS-->
    <select id="getByPrimary" resultMap="BaseResultMap">
        SELECT /*MS-TG-LOGISTICS-GETBYPRIMARY*/  <include refid="Base_Column_List" />
        FROM TG_LOGISTICS
        WHERE
            ID = #{id,jdbcType=BIGINT}
    </select>

    <!--插入表:TG_LOGISTICS-->
    <select id="add" resultMap="BaseResultMap">
        INSERT INTO TG_LOGISTICS(
        ID
        ,CODE
        ,NAME
        ,ALTER_EMPL
        ,ALTER_TIME
        ,TIMESTAMP
        ,CREATE_EMPL
        ,CREATE_TIME
        )VALUES(
        #{id,jdbcType=BIGINT}
        , #{code,jdbcType=VARCHAR}
        , #{name,jdbcType=VARCHAR}
        , #{alterEmpl,jdbcType=BIGINT}
        , #{alterTime,jdbcType=TIMESTAMP}
        , #{timestamp,jdbcType=BIGINT}
        , #{createEmpl,jdbcType=BIGINT}
        , #{createTime,jdbcType=TIMESTAMP}
        )
    </select>
</mapper>
